body {
    font-family: sans-serif;
}

h1{
 text-align: center;   
}

 nav { 
text-align: center;
margin-bottom: 40px;
font-size: 20px;
}
a {
  margin: 70px;
  color:black;
}

main p{
border: 2px solid black;  
border-radius: 10px;  
padding: 10px;
margin: 10px 30px 40px 30px;
}

main img {
  text-align: center;
  margin: 10px 50px 40px 50px;
  border-left: 10px dotted black;
}
p {
  border: 8px solid black;
  margin: 0px;
}

  
  
